[build]
  command = "CI=false npm run build"
  publish = "build"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"


[build.environment]
  REACT_APP_SOLANA_RPC_HOST = "https://mainnet.helius-rpc.com/?api-key=273e36fb-f6f8-4556-8166-a2299b594197"

[dev]
  targetPort = 8080
  port = 8888

